{% extends "base.html" %}
{% block title %}
  Techlonogy
{% endblock title %}
{% block content %}
  <div class="row">
    <h1>Tech I use</h1>
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Python</li>
        <li class="list-group-item">Django</li>
        <li class="list-group-item">VSCode / PyCharm</li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <p>Python and Django are like our life:</p>
      <p>Easy to start, hard to master.</p>
    </article>
  </div>
{% endblock content %}
